<div id="series">
    <h1>Series</h1>
</div>

{{#each allSeries}}
<section class="series-box" id="series-list">
    <h2 id="names">{{name}}</h2>
    <h3 id="aliases">{{aliases}} </h3>
    <h4 id="num-eps">number of episodes: {{count_of_episodes}} </h4>
    <h4 id="first-ep-name">first: {{first_episode_title}} </h4>
    <h4 id="last-ep-name">last: {{last_episode_title}} </h4>
    <h4 id="deck">{{deck}} </h4>
    <h4 id="start-year">started in: {{start_year}} </h4>
</section>
{{/each}}

