<div id="volume">
    <h1>Volumes</h1>
    {{#each allVolumes}}
    <section>
    <h2 >{{name}}</h2>
    <h3>{{publisher_name}} </h3>
    <h4>{{first_issue_name}} </h4>
    <h4>{{last_issue_name}} </h4>
    <h4>{{last_issue_number}} </h4>
    <h4>{{count_of_issues}} </h4>
    </section>
    {{/each}}
    <form id="volumeForm">
        <input type="text" id="volumeRequest" placeholder="Volume">
        <button>Volume</button>
    </form>
</div>
<script src="/js/volume.js" ></script>